/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css'
// @import '@angular/material/prebuilt-themes/pink-bluegrey.css'
// @import '@angular/material/prebuilt-themes/indigo-pink.css'
// @import '@angular/material/prebuilt-themes/purple-green.css'

// body 
//   background-color: #303030  

p
  color: #939393

a
  cursor: pointer

h1, h2, h3, h4, h5
  color: #818181

.col
  word-wrap: break-word

.section
  margin: 20px 0px
  
  h2
    margin: 20px 0px 0px 0px 

  .section-text
    //margin: 20px 0px
    //margin: 0px 0px 40px 0px

.emblem
  width: 150px
  height: 150px
  margin: 15px

body 
  display: flex
  min-height: 100vh
  flex-direction: column

main 
  flex: 1 0 auto

.page-footer
  background-color: #2978b5  